<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      rel="noopener"
      target="_blank"
      href="/views/body.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="gradient">
      <div class="home">
        <div id="title">
          <h1>Grid Game</h1>
          <h2>
            An implementation of the game Genius Square using the Phaser 3 game
            engine.
          </h2>
        </div>
        <div id="links">
          <p>
            <a href="/play">Play (Single Player)</a>
          </p>
          <p><a href="/multiplayerdemo">View Multiplayer Concept Demo</a></p>
          <p>About/Github</p>
        </div>
      </div>
    </div>
  </body>
</html>
