<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      rel="noopener"
      target="_blank"
      href="/views/body.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <div class="gradient">
      <div class="home">
        <h1>About:</h1>
        <p>
          This multiplayer concept incorporates Socket.io in a version of grid
          Game that is playable in real-time across two clients.
        </p>
      </div>
    </div> -->
    <div class="gradient">
      <div class="background">
        <h1>Multiplayer Demo</h1>
        <p>
          A version of Grid Game that utilizes Socket.io and is playable in
          real-time across two clients.
        </p>
        <div>
          <iframe
            width="640"
            height="385"
            src="https://www.youtube.com/embed/u3Iic9le888"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
